In [121]:
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
#nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/shubham/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [6]:
df = pd.read_csv("train.csv")

In [8]:
df.set_index("id",inplace=True)

In [9]:
df.head()

,title,author,text,label
id,,,,
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [11]:
df.shape

(20800, 4)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20800 entries, 0 to 20799
Data columns (total 4 columns):
title     20242 non-null object
author    18843 non-null object
text      20761 non-null object
label     20800 non-null int64
dtypes: int64(1), object(3)
memory usage: 812.5+ KB

In [15]:
df.isnull().sum()

title      558
author    1957
text        39
label        0
dtype: int64

In [21]:
X = round(df.shape[0]*.70)

In [77]:
trainX = df[:X]
testX = df[X:]

In [78]:
trainY = pd.DataFrame(trainX["label"])
trainX = pd.DataFrame(trainX.drop('label', 1))

In [80]:
trainX.head()

,title,author,text
id,,,
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...
2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ..."
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...

In [103]:
trainX['tokenizedWords'] = ""

In [115]:
trainX = trainX.fillna('0')

In [118]:
trainX.head()

,title,author,text,tokenizedWords
id,,,,
0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,"[House, Dem, Aide, :, We, Didn, ’, t, Even, Se..."
1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,"[FLYNN, :, Hillary, Clinton, ,, Big, Woman, on..."
2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...","[Why, the, Truth, Might, Get, You, Fired]"
3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,"[15, Civilians, Killed, In, Single, US, Airstr..."
4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,"[Iranian, woman, jailed, for, fictional, unpub..."

In [117]:
trainX['tokenizedWords']=trainX['title'].apply(word_tokenize)

In [129]:
stoppped_words = []
for i in range(0,len(trainX)):
    words = trainX.tokenizedWords[i]
    for w in words:
        if w.lower() not in stopwords.words():
            stoppped_words.append(words)
        break
    break
    #[word for word in text_tokens if not word in stopwords.words()]

In [130]:
stoppped_words

[['House',
  'Dem',
  'Aide',
  ':',
  'We',
  'Didn',
  '’',
  't',
  'Even',
  'See',
  'Comey',
  '’',
  's',
  'Letter',
  'Until',
  'Jason',
  'Chaffetz',
  'Tweeted',
  'It']]